.specific-selected-job-container {
  background-color: #272727;
  border-radius: 12px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 3%;
}

.specific-companylogo-title-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.specific-companylogo-container {
  margin-right: 1%;
}

.specific-company-logo {
  height: 55px;
}

.specific-title-rating-container {
}

@media screen and (max-width: 767px) {
  .specific-selected-job-container {
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .specific-title-rating-container {
    margin-left: 1%;
  }
}

.specific-job-title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 8px;
}

.specific-star-rating-container {
}

.specific-company-rating {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 17px;
  color: white;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .specific-company-logo {
    height: 35px;
    width: 35px;
  }

  .specific-job-title {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .specific-company-rating {
    font-size: 13px;
    margin-top: 0px;
  }
}

.specific-location-employmenttype-salary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.specific-location-employmenttype-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.specific-location-icon-container {
  margin-right: 10px;
}

.specific-job-location {
  font-family: 'Roboto';
  font-size: 15px;
  color: white;
}

.specific-employmenttype-icon-container {
  margin-left: 10px;
}

.specific-employment-type {
  font-family: 'Roboto';
  font-size: 15px;
  color: white;
}

.specific-salary-container {
}

.specific-job-salary {
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 767px) {
  .specific-job-location {
    font-size: 10px;
  }

  .specific-employment-type {
    font-size: 10px;
  }

  .specific-job-salary {
    font-size: 14px;
  }
}

.line {
  border: 1px solid #7e858e;
}

.specific-description-container {
}

.specific-job-description-heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 19px;
  color: white;
}

.specific-job-description {
  font-family: 'Roboto';
  font-size: 13px;
  color: white;
}

@media screen and (max-width: 767px) {
  .specific-job-description-heading {
    font-size: 14px;
  }

  .specific-job-description {
    font-size: 11px;
  }
}

.skill-ul-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.life-at-company-container {
  display: flex;
  flex-direction: row;
}

.similar-jobs-heading {
  font-family: 'Roboto';
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.similar-jobs-ul-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.life-at-company-description {
  font-family: 'Roboto';
  font-size: 13px;
  color: white;
}

@media screen and (max-width: 767px) {
  .life-at-company-container {
    display: flex;
    flex-direction: column;
  }
  .life-at-company-description {
    font-size: 11px;
  }
}

.life-at-company-image {
  /* margin-left: 2%; */
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .life-at-company-image {
    margin-top: 1%;
    margin-bottom: 2%;
  }
}

.skills-heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 19px;
  color: white;
  margin-top: 3%;
}

@media screen and (max-width: 767px) {
  .skills-heading {
    font-size: 14px;
  }

  .similar-jobs-heading {
    font-size: 17px;
  }

  .similar-jobs-ul-container {
    flex-direction: column;
  }
}

.description-and-website-url-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wesite-url {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  color: #4f46e5;
}

@media screen and (max-width: 767px) {
  .wesite-url {
    font-size: 13px;
  }
}
